.personal{
    background: rgb(110,108,144);
    background: linear-gradient(90deg, rgba(110,108,144,1) 0%, rgba(96,83,103,1) 17%, rgba(36,20,36,1) 100%);
    color: azure;
    text-align: center;
    padding: 20px;
}
.imgxl{
    width:150px;
    height:50px;
    padding: 20px;
    
}
.imgss{
    width:50px;
    height:50px;
    padding:20px;
    
}
.dev{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.gmail{
    text-align: center;
    color: white;
}